:root {
    --multicolor: linear-gradient(-45deg, #ee5252, #ee7752, #eede52, #aaee52, #3ce73f, #23d5a8, #23b7d5, #52b0ee, #5c52ee, #a352ee, #ee52e1, #ee5267);
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: linear-gradient(-45deg, #ee5252, #ee7752, #eede52, #aaee52, #3ce73f, #23d5a8, #23b7d5, #52b0ee, #5c52ee, #a352ee, #ee52e1, #ee5267);
    animation: gradient 15s ease infinite;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid white;
    /* creates padding around scroll thumb */
}